<div header-directive></div>

    <div id="wrap">
        
        <div id="container-contact" class="container" ng-controller="Bussines_modelController">
            <div class="height-20">&nbsp;</div>
            <div class="title-pages">BUSSINES MODEL</div>
            <hr>

            <div class="container">
                <div ng-repeat="model in models">
                    <div class="our-solution-content">{{model.title}}</div>
                    <div class="our-solution-content color-gray-l">{{model.subtitle}}</div>
                    <hr>
                </div>
            </div>
        </div>

    </div>

    <!--aqui comienza el pie de pagina -->
    <div id="footer" class="container">&nbsp;</div>
