<div header-directive></div>

    <div id="wrap">
        
        <div id="container-contact" class="container" ng-controller="ClientsController">
            <div class="height-20">&nbsp;</div>
            <div class="title-pages">{{base.title}}</div>
            <hr>
            <div class="height-20">&nbsp;</div>

            <div class="text-center problems-content">{{base.content}}</div> 


            <div class="height-20">&nbsp;</div>

             <hr>
        </div>

    </div>

    <!--aqui comienza el pie de pagina -->
    <div id="footer" class="container">&nbsp;</div>
