 <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span class="color-white"> < </span><span class="color-orange">IGNI</span><span class="color-white">WEB</span><span class="color-orange"> > </span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="the_problems.html">The Problems</a></li>
            <li><a href="our_solutions.html">Our Solution</a></li>
            <li><a href="communication.html">Communication</a></li>
            <li><a href="experience.html">Experience in</a></li>
            <li><a href="bussines_model.html">Bussines Model</a></li>
            <li><a href="clients.html">Clients</a></li>
            <li><a href="the_team.html">The Team</a></li>
            <li><a href="team.html">Team</a></li>
            <li><a href="competition.html">Competition</a></li>
            <li><a href="our_strengths.html">Our Strengths</a></li>
            <li><a href="what_do_we_want.html">What Do We Want?</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div id="wrap">
        
        <div id="container-contact" class="container" ng-controller="ContactController">
            <div class="height-20"></div>
            <div class="title-pages">{{base.title}}</div>
            <div class="height-20"></div>
            <div class="row">
                <div class="col-xs-12">&nbsp;</div>
            </div>


            <div ng-repeat="contact in contacts">
                <div class="row text-center">
                    <div class="col-xs-12 col-sm-4">
                        <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/140.jpg" style="width: 140px; height: 140px;">
                    </div>

                    <div class="col-xs-12 col-sm-8">
                        <div class="contact-name">{{contact.name}}</div>
                        <div class="contact-charge color-gray-l">{{contact.charge}}</div>
                        <div class="contact-email color-gray-l">{{contact.email}}</div>
                    </div>
                </div>  
                <hr>
            </div>

        </div>

    </div>

    <!--aqui comienza el pie de pagina -->
    <div id="footer" class="container">&nbsp;</div>