<div header-directive></div>

    <div id="wrap">
        
        <div id="container-contact" class="container" ng-controller="ContactController">
            <div class="height-20"></div>
            <div class="title-pages">{{base.title}}</div>
            <div class="height-20"></div>
            <div class="row">
                <div class="col-xs-12">&nbsp;</div>
            </div>


            <div ng-repeat="contact in contacts">
                <div class="row text-center">
                    <div class="col-xs-12 col-sm-4">
                        <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/140.jpg" style="width: 140px; height: 140px;">
                    </div>

                    <div class="col-xs-12 col-sm-8">
                        <div class="contact-name">{{contact.name}}</div>
                        <div class="contact-charge color-gray-l">{{contact.charge}}</div>
                        <div class="contact-email color-gray-l">{{contact.email}}</div>
                    </div>
                </div>  
                <hr>
            </div>

        </div>

    </div>

    <!--aqui comienza el pie de pagina -->
    <div id="footer" class="container">&nbsp;</div>