<div header-directive></div>

    <div id="wrap">
        
        <div id="container-contact" class="container" ng-controller="ExperienceController">
            <div class="height-20">&nbsp;</div>
            <div class="title-pages">{{base.title}}</div>
            <div class="height-20">&nbsp;</div>

            <div class="text-center">

                <img class="img-responsive" src="images/tec.png" alt="Image" />
               
            </div>

        </div>

    </div>

    <!--aqui comienza el pie de pagina -->
    <div id="footer" class="container">&nbsp;</div>
