<div header-directive></div>

    <div id="wrap">
        
        <div id="container-contact" class="container" ng-controller="Our_strengthsController">
            <div class="height-20">&nbsp;</div>
            <div class="title-pages">{{base.title}}</div>
            <hr>

            <div class="container">
                <div ng-repeat="strength in strengths">
                    <div class="our-solution-content">{{strength.title}}</div>
                    <div class="our-solution-content color-gray-l">{{strength.subtitle}}</div>
                    <hr>
                </div>
            </div>
        </div>

    </div>

    <!--aqui comienza el pie de pagina -->
    <div id="footer" class="container">&nbsp;</div>
