<div header-directive></div>

    <div id="wrap">
        
        <div id="container-contact" class="container" ng-controller="Our_strengthsController">
            <div class="height-20">&nbsp;</div>
            <div class="title-pages">{{'TITLE_OURSTRENGTHS' | translate}}</div>
            <hr>

            <div class="container">
                
                    <div class="our-solution-content">{{'OURSTRENGTHS_1OT' | translate}}</div>
                    <div class="our-solution-content color-gray-l">{{'OURSTRENGTHS_1OS' | translate}}</div>
                    <hr>
                    

                    <div class="our-solution-content">{{'OURSTRENGTHS_2OT' | translate}}</div>
                    <div class="our-solution-content color-gray-l">{{'OURSTRENGTHS_2OS' | translate}}</div>
                    <hr>

                    <div class="our-solution-content">{{'OURSTRENGTHS_3OT' | translate}}</div>
                    <div class="our-solution-content color-gray-l">{{'OURSTRENGTHS_3OS' | translate}}</div>
                    <hr>

                    <div class="our-solution-content">{{'OURSTRENGTHS_4OT' | translate}}</div>
                    <div class="our-solution-content color-gray-l">{{'OURSTRENGTHS_4OS' | translate}}</div>
                    <hr>

                    <div class="our-solution-content">{{'OURSTRENGTHS_5OT' | translate}}</div>
                    <hr>                
            </div>
        </div>

    </div>

    <!--aqui comienza el pie de pagina -->
    <div id="footer" class="container">&nbsp;</div>
