<div header-directive></div>

    <div id="wrap">
        
        <div id="container-contact" class="container" ng-controller="The_problemsController">
            <div class="height-20">&nbsp;</div>
            <div class="title-pages">{{'TITLE_THEPROBLEMS' | translate}}</div>
            <hr>
            <div class="height-20">&nbsp;</div>

            <div class="text-center problems-content">{{'CONTENT_THEPROBLEMS' | translate}}</div> 


            <div class="height-20">&nbsp;</div>

             <hr>
        </div>

    </div>

    <!--aqui comienza el pie de pagina -->
    <div id="footer" class="container">&nbsp;</div>
