<div header-directive></div>

    <div id="wrap">
        
        <div id="container-contact" class="container" ng-controller="What_do_we_wantController">
            <div class="height-20">&nbsp;</div>
            <div class="title-pages">{{base.title}}</div>
            <hr>
            <div ng-repeat="paragraph in paragraphs">
                  <div class="height-20">&nbsp;</div>
                  <div class="text-center problems-content color-gray">{{paragraph.content}}</div> 
                  <div class="height-20">&nbsp;</div>
             </div>
        </div>

    </div>

    <!--aqui comienza el pie de pagina -->
    <div id="footer" class="container">&nbsp;</div>