<div class="container"><!-- <span class="glyphicon glyphicon-home"></span> codigo para agregar iconos predeterminados de bootstrap -->
   <div class="list-group">
     <li><a ng-href="#">Home</a></li>
            <li><a ng-href="#contact">Contact</a></li>
            <li><a ng-href="#the_problems">The Problems</a></li>
            <li><a ng-href="#our_solutions">Our Solution</a></li>
            <li><a ng-href="#communication">Communication</a></li>
            <li><a ng-href="#experience">Experience in</a></li>
            <li><a ng-href="#bussines_model">Bussines Model</a></li>
            <li><a ng-href="#clients">Clients</a></li>
            <li><a ng-href="#the_team">The Team</a></li>
            <li><a ng-href="#team">Team</a></li>
            <li><a ng-href="#competition">Competition</a></li>
            <li><a ng-href="#our_strengths">Our Strengths</a></li>
            <li><a ng-href="#what_do_we_want">What Do We Want?</a></li>
   </div>
 </div>